@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.containerImg {
  width: 100%;
  height: 64rem;
  overflow: hidden;
}

.textImage {
  color: #fff;
  text-shadow: 2px 2px 4px #2c2c2c;
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}

.imgCover {
  object-fit: cover;
  object-position: center center;
  height: 100%;
}

.CardDeck {
  margin-top: 9rem;
  margin-left: 4%;
  margin-right: 4%;
  align-content: center;
}

.titlePago {
  margin-top: 7rem;
  font-weight: 700;
  font-size: 4rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .containerImg {
    width: 100%;
    height: 64rem;
    overflow: hidden;
  }

  .imgCover {
    object-fit: cover;
    object-position: center center;
    height: 50%;
  }

  .titlePago {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2rem;
  }

  .CardDeck {
    margin-top: 0;
    margin-left: 4%;
    margin-right: 4%;
    align-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .containerImg {
    width: 100%;
    height: 64rem;
    overflow: hidden;
  }

  .imgCover {
    object-fit: cover;
    object-position: center center;
    height: 70%;
  }

  .titlePago {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2rem;
  }
}

.CardDeck {
  margin-top: 0;
  margin-left: 4%;
  margin-right: 4%;
  align-content: center;
}
