@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");

.nav-bar-side-style {
    margin-top: 65px;
    padding-left: 0px;
    width: 180px;
    height: 900px;
    background-color: #56AF31;
}   

.line {
    border-bottom: solid 1px grey;
}

